!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Hunt Awesome Scavenger Hunts
        :css
          /* Client-specific Styles */
          #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
          body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
          /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
          .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
          .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
          #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
          img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
          a img {border:none;}
          .image_fix {display:block;}
          p {margin: 0px 0px !important;}
          
          table td {border-collapse: collapse;}
          table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
          /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
          /*STYLES*/
          table[class=full] { width: 100%; clear: both; }
          
          /*################################################*/
          /*IPAD STYLES*/
          /*################################################*/
          @media only screen and (max-width: 640px) {
          a[href^="tel"], a[href^="sms"] {
          text-decoration: none;
          color: #ffffff; /* or whatever your want */
          pointer-events: none;
          cursor: default;
          }
          .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
          text-decoration: default;
          color: #ffffff !important;
          pointer-events: auto;
          cursor: default;
          }
          table[class=devicewidth] {width: 440px!important;text-align:center!important;}
          table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
          table[class="sthide"]{display: none!important;}
          img[class="bigimage"]{width: 420px!important;height:219px!important;}
          img[class="col2img"]{width: 420px!important;height:258px!important;}
          img[class="image-banner"]{width: 440px!important;height:106px!important;}
          td[class="menu"]{text-align:center !important; padding: 0 0 10px 0 !important;}
          td[class="logo"]{padding:10px 0 5px 0!important;margin: 0 auto !important;}
          img[class="logo"]{padding:0!important;margin: 0 auto !important;}

          }
          /*##############################################*/
          /*IPHONE STYLES*/
          /*##############################################*/
          @media only screen and (max-width: 480px) {
          a[href^="tel"], a[href^="sms"] {
          text-decoration: none;
          color: #ffffff; /* or whatever your want */
          pointer-events: none;
          cursor: default;
          }
          .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
          text-decoration: default;
          color: #ffffff !important; 
          pointer-events: auto;
          cursor: default;
          }
          table[class=devicewidth] {width: 280px!important;text-align:center!important;}
          table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
          table[class="sthide"]{display: none!important;}
          img[class="bigimage"]{width: 260px!important;height:136px!important;}
          img[class="col2img"]{width: 260px!important;height:160px!important;}
          img[class="image-banner"]{width: 280px!important;height:68px!important;}
          
          }
        %body
    .block
      / Start of preheader
      / End of preheader
      %table{:bgcolor => "#f6f4f5", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "preheader", :width => "100%"}
        %tbody
          %tr
            %td{:width => "100%"}
              %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :hasbackground => "true", :width => "580"}
                %tbody
                  / Spacing
                  %tr
                    %td{:height => "5", :width => "100%"}
                  / Spacing
                  %tr
                    %td{:align => "right", "st-content" => "preheader", :style => "font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999", :valign => "middle"}
                  / Spacing
                  %tr
                    %td{:height => "5", :width => "100%"}
                  / Spacing
    .block{:style => "display: block;"}
      / start of header
      / end of header
      %table{:bgcolor => "#f6f4f5", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "header", :width => "100%"}
        %tbody
          %tr
            %td
              %table.devicewidth{:align => "center", :bgcolor => "#ededed", :border => "0", :cellpadding => "0", :cellspacing => "0", :hasbackground => "true", :width => "580"}
                %tbody
                  %tr
                    %td
                      / logo
                      %table.devicewidth{:align => "left", :bgcolor => "#ededed", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "280"}
                        %tbody
                          %tr
                            %td.logo{:style => "padding: 10px 0 10px 20px;", :valign => "middle", :width => "270"}
                              .imgpop
                                %a{:href => "#"}
                                  %img#tlqp6sbcmew89f6r.logo{:alt => "logo", :border => "0", :src => "http://www.huntawesome.com/huntawesome-logo-grey.png", "st-image" => "edit", :style => "display:block; border:none; outline:none; text-decoration:none;", :width => "100"}/
                      / End of logo
                      / menu
                      %table.devicewidth{:align => "right", :bgcolor => "#ededed", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "280"}
                        %tbody
                          %tr
                            %td.menu{:align => "right", "st-content" => "menu", :style => "font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;line-height: 24px; padding: 10px 0;", :valign => "middle", :width => "270"}
                              %p{:style => "text-align: center;"}
                            %td{:width => "20"}
                      / End of Menu
    .block
      / image + text
      %table{:bgcolor => "#f6f4f5", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "bigimage", :width => "100%"}
        %tbody
          %tr
            %td
              %table.devicewidth{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :hasbackground => "true", :width => "580"}
                %tbody
                  %tr
                    %td{:height => "20", :width => "100%"}
                  %tr
                    %td
                      %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "540"}
                        %tbody
                          %tr
                            / start of image
                            %td{:align => "center"}
                              .imgpop
                                %a{:href => "#"}
                                  %img#pjxvc4kjg42kpgb9.bigimage{:alt => "", :border => "0", :height => "282", :src => "http://www.huntawesome.com/homepage1.jpg", "st-image" => "edit", :style => "display:block; border:none; outline:none; text-decoration:none;", :width => "540"}/
                          / end of image
                          / Spacing
                          %tr
                            %td{:height => "20", :width => "100%"}
                          / Spacing
                          / title
                          %tr
                            %td{"st-title" => "rightimage-title", :style => "font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:left;line-height: 20px;"}
                              %p
                                You Gots a New User
                          / end of title
                          / Spacing
                          %tr
                            %td{:height => "20", :width => "100%"}
                          / Spacing
                          / content
                          %tr
                            %td{"st-content" => "rightimage-paragraph", :style => "font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #95a5a6; text-align:left;line-height: 24px;"}
                              %p
                                =@user.name
                              %p
                                =@user.email
                              %p
                                =@user.groups.first.name
                          / end of content
                          / Spacing
                          %tr
                            %td{:height => "10", :width => "100%"}
                          / button
                          %tr
                            %td
                              %table.tablet-button{:align => "left", :bgcolor => "#0db9ea", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "30", "st-button" => "read-more-button", :style => "background-color:#0db9ea; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:13px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px;", :valign => "middle"}
                                %tbody
                                  %tr
                                    %td{:align => "center", :height => "30", "st-title" => "read-more-button", :style => "padding-left:18px; padding-right:18px;font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300;", :valign => "middle", :width => "auto"}
                                      %p
                                        %span{:style => "color: #ffffff; font-weight: 300;"}
                                          %a{:href => "http://www.huntawesome.com", :style => "color: #ffffff; text-align:center;text-decoration: none;", :tabindex => "-1"} Go Fuck Yourself
                          / /button
                          / Spacing
                          %tr
                            %td{:height => "20", :width => "100%"}
                          / Spacing
    .block
      / start textbox-with-title
      / end of textbox-with-title
    .block
      / start of left image
      / end of left image
    .block
      / start of left image
      / end of left image
    .block
      / fulltext
      / end of fulltext
    .block
      / Start of 2-columns
      / End of 2-columns
    .block
      / 3-columns
      / end of 3-columns
    .block
      / Full + text
    .block
      / Start of preheader
      / End of preheader
      %table{:bgcolor => "#f6f4f5", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "postfooter", :width => "100%"}
        %tbody
          %tr
            %td{:width => "100%"}
              %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :hasbackground => "true", :width => "580"}
                %tbody
                  / Spacing
                  %tr
                    %td{:height => "5", :width => "100%"}
                  / Spacing
                  %tr
                    %td{:align => "center", "st-content" => "preheader", :style => "font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999", :valign => "middle"}
                      %p
                        If you don't want to receive updates. please
                        %span{:style => "text-decoration: none; color: #0db9ea"} unsubscribe
                  / Spacing
                  %tr
                    %td{:height => "5", :width => "100%"}
                  / Spacing
