.profile
  .row
    .col-xs-12.col-md-1
      =image_tag("group-choice-2.png", style: "width:75px;")
    .col-xs-12.col-md-3
      %h1
        %b= @group.first.name
      %b Current Pillar:
      %span.purple=@pillar
      %br
      %b Total Awesome Points:
      %span.purple=@total_points
    .col-xs-12.col-md-6.col-md-offset-2
      .rule-box.text-center
        %h4 Scavenger Hunt Rules
        %p 
          Pick your favorite challenges from the available list and complete them to receive 'Awesome Points' which go towards conquering the 
          ="#{@pillar} pillar." 
          Once you collect 
          ="#{@level_points}" 
          you earn your pillar badge.