.profile
  .row
    .col-xs-12.col-md-1
      =image_tag("group-choice-2.png", style: "width:75px;")
    .col-xs-12.col-md-3
      %h1
        %b= @group.first.name
      %p
        Current Level of Awesome:
        = @level
    .col-xs-12.col-md-6.col-md-offset-2
      .rule-box.text-center
        %h4 Scavenger Hunt Rules
        %p Pick your favorite challenges from the available list and complete them to receive 'Awesome Points' which go towards conquering levels. Once you collect 2000 you move to the next level of Awesome. At each new level the challenges get harder & more creative while at the same time you get more Awesome.