.navigation-area
  %ul.nav.nav-tabs
    %li{:class => "#{'active' if current_page?(action: 'show')}"}
      =link_to "Profile Overview", current_user
    %li{:class => "#{'active' if current_page?(action: 'current_tasks')}"}
      =link_to "Your Current ToDo's", current_tasks_user_path(current_user)
    %li{:class => "#{'active' if current_page?(action: 'completed_tasks')}"}
      =link_to "Awesomeness Archive", completed_tasks_user_path(current_user)