=render "users/basic_profile"
=render "users/tab_nav"
.to-do-tasks
  
  .hunt-progress
    .row
      .col-xs-12.col-sm-3
        %p{style:"font-size:12.5px;"}
          %b 
            ="#{level.name} Badge:"
          =level.description
      .col-xs-12.col-sm-6
        %h4.text-center
          %b
            ="#{level.name} Badge Status"
          %br
          %span{style: "color:green;font-weight:bold;"}=earned_level_points
          out of
          =@level_points
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: #{percentage_of_level_complete}%"}
            %span.sr-only 20% Complete
      .col-xs-12.col-sm-3.text-center
        %h4 Overall Awesome Points
        %span.point-circle
          %b{style: "color:white;"}=@user.points
  =render "users/task_list"

