%h1
.row.row-centered
  .col-xs-12.col-sm-10.col-centered
    %h1 About Hunt Awesome
    %h3 Scavenger Hunt Your Way to Fun
    %p 
      Hunt Awesome is a FREE service created to provide you with the most Awesome month of their lives. By completing a series of fun and exciting tasks 
      %b Scavenger Hunt style,
      you will naturally begin to do Awesome things, be more Awesome, and make others feel Awesome. 
    %p
      The small handpicked online & offline tasks are easily integrated into your normal day and weeks. The tasks are a combination of action items
      %i you know you should do but don't, simply forget to stop and appreciate, or tasks you never would have known you love in the first place.
      %b The end result of the process is a documented month where that you can remember as the Awesome-ess ever!
    %br
    %h3 The Team
    %p Our team originally got together to create www.getacluecrawls.com, a bar crawl scavenger hunt service, that takes bachelor(ette), birthday, and corporate parties on a fun evening of bar hopping and clue solving.
    %p 
      From this experience, we learned how enjoyable a 3-4 hour event can be for the participants. The happiness they exuded started from the moment they booked the service, through the event itself, all the way to months after as they reminisced on the fun they had. The notes we received from participants that had crawled up to year before was incredible. 
      %b It was in a single word - INSPIRING. 
      %p
        We had our mission. Deliver that same level of sustained happiness for a wider audience at any time in any place. HuntAwesome is that child of that mission.
