%h1
.row.row-centered
  .col-xs-12.col-sm-10.col-centered
    .text-center
      %h1 How Hunt Awesome Works
      %h1
      .row.row-centered
        .col-xs-12.col-sm-8.col-centered
          .text-center
            .hiw-box
              =image_tag("hiw-signup.jpg", style:"width:80%;margin:auto")
              %h3 
                You Sign Up 
                %br
                (as a group or solo)

            .hiw-box-white
              =image_tag("hiw-challenges.jpg", style:"width:80%;margin:auto")
              %h3 You Get a List of Challenges to Complete
            
            .hiw-box
              =image_tag("points.jpg", style:"width:80%;margin:auto")
              %h3 Completed Challenges Give You Points

            .hiw-box-white
              =image_tag("200level.jpg", style:"width:80%;margin:auto")
              %h3 Earning 2000 Points Beats the Level


            .hiw-box
              =image_tag("foam-finger.png", style:"width:40%;margin:auto")
              %h3 Finish All 5 Levels & Earn a Spot on the Mount Awesome

            .hiw-box-white
              =image_tag("best-month.jpg", style:"width:80%;margin:auto")
              %h3 Have the Most Awesome Month of Life Along the Way
