.home.text-center
  .home-center
    %h1 Hunt Awesome
    %h4 Scavenger Hunt Your Way to the Most Awesome Month of Your Life
    %p Complete Tasks, Conquer Challenges, Earn Points And Be Awesome.
    %p Don't Waste Another Second, Start Your Quest to Awesome Right Now!
    =link_to pages_start_path do 
      Start Hunting Awesome
