.home.text-center
  .home-center
    %h1 Hunt Awesome
    %h2 
      Scavenger Hunt Your Way to the
      %br
      Most Awesome Month of Your Life
    %p 
      Complete Tasks, Conquer Challenges, Earn Points & Be Awesome.
      %br
      Don't Waste Another Second, Start Your Quest to Awesome Right Now!
    =link_to pages_start_path do 
      .btn-home
        Start Hunting Awesome
        %span.glyphicon.glyphicon-chevron-right
    %a.learn-more{:href => '#second-area'}
      %p{style:"font-size:22px;color:#3AA497;position:relative;"}
        %span.glyphicon.glyphicon-circle-arrow-down
        %span{style:"font-size:18px;"}Learn More

#second-area
      
  %h2.text-center Do Awesome, Be Awesome, Make Others Feel Awesome.
  %p.text-center{style:"font-size:18px;"} Living awesome isn't about doing a couple of huge things. Engaging in little and medium sized awesomeness each and every day creates true awesome. We help you do that in a really fun way - through a scavenger hunt.
  =link_to pages_start_path do 
    .home-btn-white.text-center
      Start Hunting Awesome
      %span.glyphicon.glyphicon-circle-arrow-right{style:"top:5px;"}
#third-area.text-center
  %h2{style: "color:#BA3288;margin-bottom:30px;"} What People Are Saying
  .quote
    %h3
      "Seriously. This was 'Awesome!' Loved doing all of the little challenges, it got me up and moving and I had sooo much fun."
    %p
      %em ~ Racheal, New York
  .quote
    %h3
      "I literally had the best month of my life! Wish it lasted even longer!"
    %p
      %em ~ Eric, Minnesota
