.starter-box
  .intro-one
    %h1 5 Pillars of Awesome
    %h2
      =image_tag("5pillars.png")
    %p 
      Over the next 30 days, you will be scavenger hunting towards awesome by completing small, fun, challenging, and exciting tasks. The challenges will take you through the 5 Pillars of Awesome:
    %p
      %b= "Momentum,"
      %b="Nostalgia,"
      %b="Connecting with Others,"
      %b="The Awesome You,"
      and
      %b="Comfort Zone Busters."
    %h4 
      %i 
        Let's jump right in and get you started earning points towards your first pillar: 
        %b Momentum.
    
    %a
      .unveil-btn-one.btn-outline.text-center
        Click to Unveil Your First Momentum Task

  .unveil-one
    %h3 
      %b Challenge: 
      Re-Text (200 points)
    %p=image_tag("iphone-threads.jpg", style:"max-width:80%;")
    %p 
      Open your text message threads and scroll back 
      %b 3 months.
      Pick a thread and restart the conversation. Once your done, click "complete" and earn 200 points towards awesome.
    %p{style: "font-size:14px;"}
      %b Don't know what to say? 
      Try something simple like, "Long time no text" or "I was just thinking about you" or "Can you believe we haven't text since ..."

    %a
      .btn-next.unveil-btn-two.text-center
        I Completed the Challenge (Scout's Honor)

  .unveil-two
    %h2{style:"color:rgb(0, 197, 100);"} Nice! That's 200 points towards your Momentum Badge! Let's try one more.
    %h3 
      %b Challenge: 
      Spontaneous Art (300 points)
    %p=image_tag("desk.jpg", style:"max-width:80%;")
    %p Create a museum worthy piece of art with only items in reach of you. Take a pic - then text, post to facebook, instagram or send anywhere outside of your phones album and tag it "#SpontaneousArt". Click complete below and we will get ready to start your month of awesomeness!

    %a
      .btn-next.unveil-btn-three.text-center
        Challenge Completed (Cross My Heart)
  .unveil-three
    %h2{style:"color:rgb(0, 197, 100);"} You are well on your way to awesome!
    %h3 
      %b Let's Quickly Get You Set Up
    %p As we move along, your challenges will be both on and offline and will start to involve more and more fun and creative tasks. Do you want scavenger hunt to awesome with a group or would you rather keep going solo (you can add people at any point).
    .group-vs-solo
      =link_to new_user_registration_path(solo: false) do
        .choice-box.pull-left.text-center{style:"margin-right: 10px;"}
          =image_tag("group-choice-2.png")
          GROUP
      =link_to new_user_registration_path(solo: true) do 
        .choice-box.pull-left.text-center
          =image_tag("solo-choice.png")
          SOLO
      .clearfix