// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets"
@import "bootstrap"

body
  background-image: url("/space-bg.jpg")
  font-family: 'Lato'

  .starter-box
    background-color: #fff
    margin: -20px 0 0 0
    width: 45%
    padding: 15px 40px 40px 40px
    min-height: 600px
    -webkit-box-shadow: 1px 0 10px rgba(0,0,0,0.2)
    -moz-box-shadow: 1px 0 10px rgba(0,0,0,0.2)
    box-shadow: 1px 0 10px rgba(0,0,0,0.2)
    height: 100%
    
    p
      font-size: 18px
    h1
      font-weight: bold

    h4
      color: #BA3288
    img
      width: 100%
    .btn-outline
      background: #fbfbfa
      border: 1px solid #c7cacd
      color: #555459 !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      margin: 20px 0 0 0
      width: 80%

    .btn-next
      background: #826176
      border: 1px solid #774C68
      color: #fff !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      margin: 20px 0 0 0
      width: 80%
    
    .btn-next:hover
      border-bottom: 2px solid #774C68
      padding-bottom: 13px
    
    a:hover
      text-decoration: none !important

    .choice-box
      width: 45%
      background: #fbfbfa
      border: 1px solid #c7cacd
      color: #555459 !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px

    .unveil-one, .unveil-two, .unveil-three
      display: none