// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets"
@import "bootstrap"

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=hiw-box($color)
  background: $color
  position: relative
  min-height: 300px
  padding: 60px 0px

=hiw-after($color)
  position: absolute
  top: 98.1%
  left: 63%
  margin-left: -25%
  content: ''
  width: 0
  height: 0
  border-top: solid 50px $color
  border-left: solid 50px transparent
  border-right: solid 50px transparent
  z-index: 2

a:hover
  text-decoration: none

textarea
  width: 80%
  height: 100px
  border: 1px solid lightgrey
  +border-radius(5px)
.row-centered
  text-align: center
.col-centered
  display: inline-block
  float: none
  text-align: left
  margin-right: -4px
.vcenter
  display: table-cell
  vertical-align: middle
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
  margin-top: -5px
#main-container
  background: #fff
  min-height: 600px
  -webkit-box-shadow: 1px 0 50px rgba(0,0,0,0.5)
  -moz-box-shadow: 1px 0 50px rgba(0,0,0,0.5)
  box-shadow: 1px 0 50px rgba(0,0,0,0.5)
  padding-bottom: 100px
body
  background-image: url("/space-bg.jpg")
  font-family: 'Lato'
  .purple
    color: #826176

  .large-p
    font-size: 18px
    
  .home
    background-image: url("/surf.jpg")
    margin-top: -20px
    height: 100vh
  .home-center
    margin: auto
    width: 80%
    padding: 30px 0
    background: rgba(255, 255, 255, 0.56)
  #second-area
    background: #3aa497
    min-height: 300px
    padding: 35px 50px
    color: white
    text-shadow: 0 1px rgba(0,0,0,0.15)
    a:hover, a
      text-decoration: none
  #third-area
    background: #fff
    min-height: 300px
    padding: 35px 50px
    color: grey
    text-shadow: 0 1px rgba(0,0,0,0.15)
    .quote
      margin: 0 0 50px 0
    
  .starter-box
    background-color: #fff
    margin: -20px 0 0 0
    width: 45%
    padding: 15px 40px 40px 40px
    min-height: 600px
    -webkit-box-shadow: 1px 0 10px rgba(0,0,0,0.5)
    -moz-box-shadow: 1px 0 10px rgba(0,0,0,0.5)
    box-shadow: 1px 0 10px rgba(0,0,0,0.5)
    height: 100%
    
    p
      font-size: 18px
    h1
      font-weight: bold

    h4
      color: #BA3288
    img
      width: 100%
    .btn-outline
      background: #fbfbfa
      border: 1px solid #c7cacd
      color: #555459 !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      margin: 20px 0 0 0
      width: 80%

    .btn-outline:hover
      background: #f7f7f7

    .btn-next
      background: #826176
      border: 1px solid #774C68
      color: #fff !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      margin: 20px 0 0 0
      width: 80%
    
    .btn-next:hover
      border-bottom: 4px solid #774C68
      padding-bottom: 11px
    
    a:hover
      text-decoration: none !important

    .choice-box
      width: 45%
      background: #fbfbfa
      border: 1px solid #c7cacd
      color: #555459 !important
      padding: 14px 31px
      cursor: pointer
      font-weight: bold
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
    .choice-box:hover
      background: #f7f7f7

    .unveil-one, .unveil-two, .unveil-three
      display: none

#admin-tasks-table
  th
    padding: 0 30px
    text-align: center
    
  td
    text-align: center

.home-center
  h1, .h1
    font-size: 55px
    color: #A9056E
    margin-bottom: 0px
  h2
    font-size: 35px
    margin-top: 0px
  p
    font-size: 23px
  a.learn-more
    cursor: pointer
  
  .btn-home
    background: #826176
    border: 1px solid #774C68
    color: #fff !important
    font-size: 22px
    padding: 14px 31px
    cursor: pointer
    font-weight: bold
    +border-radius(5px)
    margin: 20px auto 0 auto
    width: 55%
  
  .btn-home:hover
    border-bottom: 4px solid #774C68
    padding-bottom: 11px

  a:hover
    text-decoration: none

  .glyphicon
    top: 4px !important
    text-decoration: none
.home-btn-white
  color: white
  font-size: 22px
  border: 1px white solid
  width: 50%
  margin: 40px auto 0 auto
  padding: 5px 0
  +border-radius(5px)

input
  height: 40px
  width: 90%
  margin: 0 0 15px 0
  padding: 0 0 0 10px

input[type="submit"]
  background: #826176
  border: 1px solid #774C68
  color: #fff !important
  cursor: pointer
  font-weight: bold
  +border-radius(5px)
input[type="submit"]:hover
  border-bottom: 4px solid #774C68

.task-box
  +border-radius(5px)
  border: 1px solid lightgrey
  padding: 10px
  min-height: 325px
  max-height: 325px
  overflow: hidden
  color: grey
  position: relative
  background: rgba(245, 245, 245, 0.51)

  .point-corner
    color: white
    background: rgb(133, 187, 124)
    padding: 5px
    +border-radius(5px)

  img
    width: 50%
.task-box:hover
  background: rgb(239, 239, 239)

.task-completed
  background: rgba(66, 15, 52, 0.90)
  padding: 60px 10px 10px 10px
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 10
  +border-radius(5px)
  color: white
  text-align: center

.task-show
  padding: 30px

  p
    font-size: 18px

.profile
  margin: 15px 0 0 0
  h1
    margin: 0
.profile-row
  border-bottom: 1px solid rgb(242, 242, 242)
  padding: 10px
.navigation-area
  margin: 30px 0 0 0
.hunt-progress
  background: rgb(246, 251, 255)
  padding: 10px 30px
  margin: 30px 0
  .progress
    height: 30px
  h2
    margin-top: 30px
  .point-circle
    background: green
    +border-radius(50px)
    padding: 8px

#task_documentations .nested-fields
  border-bottom: 1px dashed lightgrey
  padding: 20px 10px
.add-photos-notes
  padding: 20px 0

.rule-box
  background: #F8FFF8
  border: 1px solid #E4F7E4
  padding: 5px
  +border-radius(5px)
  h4
    font-weight: bold
    margin-bottom: 3px
  p
    font-size: 12px
    line-height: 14px

.hiw-box
  +hiw-box(#efefef)

.hiw-box-white
  +hiw-box(rgb(250, 250, 250))

.hiw-box:after
  +hiw-after(#efefef)

.hiw-box-white:after
  +hiw-after(rgb(250, 250, 250))


@media only screen and (max-width : 768px)
  body .home-center
    width: 95%
    .btn-home
      width: 90%
      font-size: 18px
    h1
      font-size: 45px
    h2
      font-size: 20px
    p
      font-size: 12px
    .home-center .glyphicon
      top: 3px !important
      text-decoration: none
  body
    .starter-box
      width: 80%

@media only screen and (max-width : 450px)
  body
    .starter-box
      width: 100%
    .home-btn-white
      width: 100%
      

