:javascript
  mixpanel.track_links(".btn-home a", "Home Button");

  mixpanel.track_links(".btn-home-white a", "Home Button White", {
      "referrer": document.referrer
  });

  mixpanel.track_links("a .unveil-btn-one", "Reveal First Challenge", {
      "referrer": document.referrer
  });

  mixpanel.track_links("a .unveil-btn-two", "Submit First Challenge", {
      "referrer": document.referrer
  });

  mixpanel.track_links("a .unveil-btn-three", "Submit First Challenge", {
      "referrer": document.referrer
  });

  mixpanel.track_links(".group-vs-solo a", "Group Selection", {
      "referrer": document.referrer
  });

  mixpanel.track_forms("#new_user", "Created Account");