%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        =image_tag("huntawesome-logo-grey-beta.png", style: "width: 230px;")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -unless current_user
          %li
            =link_to "About", pages_about_path
          %li
            =link_to "How It Works", pages_faq_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              More
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                =link_to "Sign In", new_user_session_path
              %li.divider
              %li
                =link_to "Sign Up", pages_start_path
              %li.divider
              %li
                =link_to "Beware Click With Caution", pages_start_path
        -if current_user
          %li
            = link_to current_user do
              %span.glyphicon.glyphicon-user
              My Profile
          %li
            = link_to destroy_user_session_path, :method=>'delete', class: 'logout-mp' do
              %span.glyphicon.glyphicon-off
              Log Out
          -if current_user.admin == true
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Admin
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  =link_to "Task", tasks_path
                %li.divider
                %li
                  =link_to "Invites", invites_path
                %li.divider
                %li
                  =link_to "Groups", groups_path
                %li.divider
                %li
                  =link_to "Groups User Table", group_users_path
                %li.divider
                %li
                  =link_to "Completed Tasks Table", completed_tasks_path
                %li.divider
                %li
                  =link_to "Users", users_path
          